/* GLOBAL-SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* color-pallet */
:root {
    --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D;
}

/* pré-configs */
html {
    /* 1rem = 10px */
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;    
    background-color: var(--body-background);
    color: var(--text-color);
    font-size: 1.6rem;  
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--color-logo);
    transition: .5s;
}

li {
    display: inline;
    margin: 0 60px;
    font-size: 1.8rem;
    list-style: none;
}
/* END GLOBAL SETTINGS */


/* HEADER */
.container-header {
    width: 90%;
    max-width: 1440px;
    max-height: auto;
    margin: 0 auto;
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-size: auto;
    padding: 60px 80px 0px;
}

/* menu-topo */
.menu {
    width: 100%;
    max-width: 1277px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
}


.btn-1 {
    width: 230px;
    height: 50px;
    font-size: 1.6rem;
    border: none;
    background-color: var(--subtitle-color);
    color: var(--text-color);
}

.btn-1:hover {
    background-color: var(--color-logo);
    transition: .5s;
}

/* banner-1 */
.banner-1 {
    width: 100%;
    max-width: 1277px;
    height: 246px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#text-avatars {
    width: 100%;
    max-width: 367px;
    height: 246px;
}

#text {
    width: 100%;
    max-width: 401px;
    font-size: 1.8rem;
    font-weight: 500;
    display: block;
    margin-bottom: 55px;
}

#avatars {
    width: 167px;
    height: 87px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#avatars p {
   width: 194px;
   height: 48px;
   margin: 0 0 0 -230px;
}

#avatars strong {
    display: block;
    width: 194px;
}

#avatars img {
    width: 95px;
}

#avatars img:nth-child(1) {
    position: relative;    
    z-index: 3;   
}

#avatars img:nth-child(2) {
    position: relative;
    left: -75px;
    z-index: 2;   
}

#avatars img:nth-child(3) {
    position: relative;
    left: -155px;
    z-index: 1;
}

#avatars img:nth-child(4) {
    position: relative;
    left: -235px;
    z-index: 0;    
}
/* title-page */
.banner-1 h1 {
    width: 100%;
    max-width: 596px;
    height: 246px;
    font-size: 5rem;
    font-weight: 700;
    align-items: center;
}

.banner-1 h1 > strong {
    display: block;
    color: var(--color-logo);
}
/* right-badge */
#badge {
    width: 200px;
    height: 200px;
}

/* grid-galery */
header > .grid-galery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 55px 16px;
}
/* END HEADER */

/* MAIN-I*/
.container-main {
    width: 90%;
    max-width: 1440px;
    max-height: auto;
    margin: 0px auto;
}

.container-main > hr {
    height: 1px;
    border: none;
    background-color: var(--subtitle-color);
    margin-top: 1px;
}

.banner-2 {
    width: 90%;
    max-width: 1440px;
    height: 660px;
    display: flex;
    justify-content: space-between;    
}

aside {
    display: flex;
    flex-direction: column;
    width: 282px;
    height: 660px;
    border-right: 1px solid var(--subtitle-color);
    padding: 208px 67px 133px 87px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.aside-num {
    display: block;
    font-size: 5rem;
    font-weight: 700;
    color: var(--text-color);   
}

aside > p {
    font-size: 2.rem;
    color: var(--subtitle-color)
}

.textsAndBnr-2 {
    position: relative;
}

.texts {
    width: 952px;
    height: 214px;
    margin: 70px 138px 71px 68px;
    display: flex;
    justify-content: space-between;
}
.texts p{
    max-width: 391px;
}

.texts p > a {
    text-decoration: underline;
    color: var(--color-logo);
}

.texts span a{
    display: block;
    margin-top: 63px;
    text-decoration: underline;
}

#img-bnr2 {
    width: 1158px;
    height: 300px;
    position: absolute;
    left: calc(100% - 1158px);
    bottom: 0px;
}

/* CARD-SECTION */
section.cards{
    margin: 150px auto 0;
    width: 1266px;
    height: 937px;   
}

.box {
    margin: 139.75px auto 0;
    width: 1266px;
    height: 738px;     
    position: relative;
}

section.cards h2 > strong, h2 {
    font-size: 5rem;
    font-weight: 700;
}

#sec-title strong {
    color: var(--color-logo);
}

/* card */
.card {        
    width: 380px;
    height: 318px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
}

.vl {
    border-left: 2px solid var(--subtitle-color);
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0px;
}

.card-1,
.card-3 {
    left: 0px;
}

.card-2,
.card-4 {
    right: 0px;
}

.card-3,
.card-4 {
    bottom: 0px;
}

.icon-arrow {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icon-arrow h3 {
    font-size: 3.0rem;
}

.icon-arrow > img {
    width: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
}

span.nome {
    margin-top: 20px;
    font-size: 2rem;
    color: var(--subtitle-color);
}

span.valor {
    margin-top: 20px;
    font-size: 2rem;
    color: var(--color-logo);
}

.card > img {
    width: 100%;
}

.bnr-bottom {
    width: 1287px;
    height: 682.34px;
    margin: 151px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bnr-bottom > h3 {
    position: absolute;
    top: 0;
    font-size: 5rem;
    font-weight: 700;
}

.bnr-bottom > h3 > strong {
    color: var(--color-logo);
}

.bnr-bottom > a {
    width: 260.34px;
    height: 41.34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 54px;
}

.bnr-bottom > a > p {
    font-size: 2rem;
}

.bnr-bottom > a > img {
    width: 30px;
    height: 30px;
}

section > .grid-badges {
    width: 1287px;
    height: 411px;
    margin: 120px auto 0px;
        
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));

    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    
        
}



.mini-card {   
    width: 350px;
    height: 150px;    
    display: flex;
    align-items: center;
    padding: 25px 32px;
    background-color: var(--card-color);
}



.mini-card > img {
    width: 100px;
    margin-right: 40px;
}

.mini-card p {
    font-size: 2rem;
    color: var(--text-color);
}

.mini-card .p-2 {
    color: var(--color-logo);
}

.mini-card:nth-child(2) {
    background-color: var(--color-logo);       
}

.mini-card:nth-child(2) .p-2 {    
    color: var(--text-color);   
}

/* FOOTER */
footer {
    width: 90%;
    max-width: 1440px;
    height: 709px;
    margin: 0 auto;
    background-color: var(--card-color);
}

.grid-footer {
    display: grid;
    grid-template-areas: 
            'top top top'
            'left right right'
            'bottom bottom bottom';
}

.ft-top {
    grid-area: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.logo-ft img{
    width: 276px;
    height: 43px;
    display: flex;
}

.ft-top a > span {
    width: 80px;
    height: 80px;
    background-color: var(--color-logo);
    display: flex;
    justify-content: center;
    padding: 28.5px;
}

.ft-left {
    width: 544px;
    grid-area: left;
    display: flex;
    justify-content: start;
    align-items: center;
    border-top: 1px solid var(--subtitle-color);
    border-right: 1px solid var(--subtitle-color);
    border-bottom: 1px solid var(--subtitle-color);
}

.call-mail {
    width: 402px;
    height: 171px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.call-mail > p {
    font-size: 3rem;
    font-weight: 500;
}

.call-mail p > strong {
    color: var(--color-logo);
    font-weight: 500;
}

form {
    padding: 0px;
    width: 402px;
    height: 66px;
    display: flex;
    align-items: center;
}

form > #txt-box {
    width: 280px;
    height: 66px;
    border: none;
    text-align: center;
    font-size: 2rem;
    color: var(--subtitle-color);
    background-color: var(--color-input);
    align-items: center;
}

form > #btn {
    width: 115px;
    height: 66px;
    border: none;
    align-items: center;
    font-size: 2rem;
}

#btn:hover {
    color: var(--text-color);
    background-color: var(--color-logo);
    transition: .5s;
}


.ft-right {
    width: 895px;
    grid-area: right;
    display: flex;
    justify-content: flex-end;    
    align-items: center;
    border-top: 1px solid var(--subtitle-color);
    border-bottom: 1px solid var(--subtitle-color);
}

.ft-links {
    width: 583px;
    height: 193px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#links1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#links1 a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--subtitle-color);
}

#links1  a:hover {
    font-weight: 700;
    color: var(--text-color);
}

.ft-bottom {
    grid-area: bottom;
    display: flex;
    align-items: center;
}

.social {
   width: 1268px;
   height: 37px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: auto;
}

.social > a > p {
   color: var(--subtitle-color);
   font-size: 2rem;
}

.social > span > a{
    width: 270px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.social > a > p:hover {
    font-weight: 700;
    color: var(--text-color);
}


/* media queries */
@media (max-width:768px) {
    html {
        
    }
}












 












  
